<!DOCTYPE html>
<html>
	<head>
		<title>{{t 'calendar.title'}}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta charset="utf-8">

		<!--CSS Dependencies-->
		<link type="text/css" rel="stylesheet" href="../css/module.css">
	<head>
	<body class="um-module">
		<!--
		| =====================
		| Calendar View
		| =====================
		-->
		<div id="calendar">
			<h1>{{t 'calendar.title'}}</h1>
		</div>
	</body>
</html>