<!DOCTYPE html>
<html>
	<head>
		<title>Courses</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta charset="utf-8">

		<!--CSS Dependencies-->
		<link type="text/css" rel="stylesheet" href="../css/umobile.css">
	<head>
	<body>
		<!--
		| =====================
		| Courses View
		| =====================
		-->
		<div class="portal focused" data-role="page" id="courses">
			<!--titlebar-->
			<div class="titlebar portlet-wrapper-titlebar" data-role="header" data-position="inline">
				<h1 class="title module-page-title">Courses</h1>
			</div>
			<!--portlet-->
			<div class="portlet">
				<div class="portlet-content" data-role="content"></div>
			</div>
		</div>
	</body>
</html>