<div class="navbar navbar-static-top navbar-inverse um-navbar">
	<div class="navbar-inner um-navbar-inner">
		<!--Brand-->
		<a class="um-brand" href="#dashboard">
			<span class="navbar-text um-navbar-text">uMobile</span>
		</a>
		<!--Home-->
		<a id="homeButton" href="#dashboard" class="btn btn-link um-btn-home hidden">
			<i class="icon-home icon-white"></i>
		</a>
		<!--Logout-->
		<a id="logoutButton" href="javascript:;" class="btn btn-link um-btn-logout hidden">
			<i class="icon-off icon-white"></i>
		</a>
		<!--Login-->
		<a id="loginButton" href="#login" class="btn btn-link um-btn-login hidden">
			<i class="icon-lock icon-white"></i>
		</a>
	</div>
</div>