<div id="formContainer" class="um-form-container clearfix">
	<form id="login" class="form-inline um-login-form" action="javascript:;">
		<div id="loginAlert" style="display: none;" class="alert alert-error um-alert-error">
			<strong>Warning.</strong>
			<span class="message"></span>
		</div>
		<fieldset>
			<legend>Sign In</legend>
			<!--Username-->
			<div class="control-group">
				<label class="control-label hidden" for="username">Username:</label>
				<div class="controls">
					<input type="text" id="username" name="username" class="input-block-level" value="{{username}}" placeholder="Username">
					<span class="help-inline" style="display: none;"></span>
				</div>
			</div>

			<!--Password-->
			<div class="control-group">
				<label class="control-label hidden" for="password">Password:</label>
				<div class="controls">
					<input type="password" id="password" name="password" class="input-block-level" value="{{password}}" placeholder="Password">
					<span class="help-inline" style="display: none;"></span>
				</div>
			</div>

			<!--Controls-->
			<div class="control-group">
				<div class="controls">
					<button id="submitButton" type="submit" class="btn btn-inverse um-btn-inverse">Go</button>
					<span id="submitSpinner" class="btn btn-link um-login-spinner invisible"></span>
				</div>
			</div>
		<fieldset>
	</form>
</div>