<!--Authentication Template-->
<script type="text/x-handlebars-template" id="auth-template">
	<form class="umobile-auth-form" action="javascript:;">
		<label for="usernameInput">Username:</label>
		<input id="usernameInput" name="username" type="text" value="{{username}}"/>

		<label for="passwordInput">Password:</label>
		<input id="passwordInput" name="password" type="password" value="{{password}}"/>

		<input type="submit" name="update" value="Update"/>
		<input type="button" class="logout-button" name="logout" value="Log out"/>
	 </form>
</script>