<!--Application Header-->
<header id="header" class="um-header"></header>

<!--Application Content-->
<section id="main" class="um-main">
	<!--Breadcrumb-->
	<div id="breadcrumb" class="hidden"></div>

	<!-- Background handler -->
	<div id="background" class="background"></div>
	<!--Views-->
	<div id="content" class="um-content">
		<div class="row-fluid">
			<div class="span12">
				<div id="viewLoader" class="um-view-loader">
					<div id="view" class="um-view hidden"></div>
				</div>
			</div>
		</div>
	</div>

	<!--Content Loader-->
	<div id="contentLoader" class="um-content-loader um-loader"></div>
</section>

<!--Footer-->
<footer id="footer" class="um-footer"></footer>