*.sublime-workspace
/www/
/node_modules/
/src/index.html
/src/modules/
/src/css/
/src/docs/
/nbproject/private/
/phonegap/platforms/android/bin/
/phonegap/platforms/android/gen/
/phonegap/
/nbproject/