//
// Base
// --------------------------------------------------

html {
	height: 100%;
}

html, body {
	background-color: @defaultBg;
}

a, a:hover, {
	text-decoration: none;
}

legend {
	border-color: @legendBorderBottomColor;
}