//
// Base
// --------------------------------------------------

html {height: 100%;}
body {}

// View-specific classes that are added
// to the body tag.
.um-dashboard {background-color: @blue;}
.um-module,
.um-login {background-color: @smoke;}

// Anchors.
a, a:hover, {
	text-decoration: none;
}