//
// Mixins
// --------------------------------------------------

// Drop shadow.
.um-shadow {
	-webkit-box-shadow: 0 1px 10px @darkGray;
	-moz-box-shadow: 0 1px 10px @darkGray;
	box-shadow: 0 1px 10px @darkGray;
}

// Border radius.
.um-border-radius(@radius) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

// Clear list.
.um-list, .um-list li {
	padding: 0;
	margin: 0;
	list-style: none;
}

// Gradient.
.um-gradient(@startColor: @darkGary, @fromColor: @black) {
	background: @startColor;
	background: -moz-linear-gradient(top, @startColor 0%, @fromColor 100%, @fromColor 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@startColor), color-stop(100%,@fromColor), color-stop(100%,@fromColor));
	background: -webkit-linear-gradient(top, @startColor 0%,@fromColor 100%,@fromColor 100%);
	background: -o-linear-gradient(top, @startColor 0%,@fromColor 100%,@fromColor 100%);
	background: -ms-linear-gradient(top, @startColor 0%,@fromColor 100%,@fromColor 100%);
	background: linear-gradient(to bottom, @startColor 0%,@fromColor 100%,@fromColor 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@{startColor}', endColorstr='@{fromColor}',GradientType=0);
}

// Expand element passed the padding on the body tag
// when rendered on smaller screens.
.um-expand {
	@media (max-width: 767px) {
		margin-left: -20px;
		margin-right: -20px;
	}
}