//
// Variables
// --------------------------------------------------

// Colors
// -------------------------
@blue: #3366CC;
@white: #FFF;
@smoke: #EFEFEF;
@lightGray: #CCCCCC;
@darkGray: #2E2E2E;
@black: #131313;
@red: #F60000;
@darkRed: #9B0000;

// Paths
// -------------------------
@blueLoaderPath: '../images/um_blue_loader.gif';
@smokeLoaderPath: '../images/um_smoke_loader.gif';