//
// Variables (Base Rules)
// --------------------------------------------------

// Colors
// -------------------------
@blue: #3366CC;
@white: #FFF;
@smoke: #EFEFEF;
@gray60: #9E9E9E;
@lightGray: #CCCCCC;
@darkGray: #2E2E2E;
@black80: #232323;
@black90: #0F0F0F;
@black: #131313;
@red: #F60000;
@darkRed: #9B0000;

// Paths
// -------------------------
@logoPath: '../images/theme/default/um_logo.png';
@formLoaderPath: '../images/theme/default/um_form_loader.gif';
@blueLoaderPath: '../images/theme/default/um_blue_loader.gif';
@smokeLoaderPath: '../images/theme/default/um_smoke_loader.gif';
@whiteLoaderPath: '../images/theme/default/um_white_loader.gif';