<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{pageTitle}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta charset="utf-8">

		<!--CSS Dependencies-->
		<link type="text/css" rel="stylesheet" href="css/umobile.css">

		<!--JavaScript Dependencies-->
		{{#dev}}
		<script type="text/javascript" src="js/lib/cordova/cordova-{{cordova}}.js"></script>
		<script type="text/javascript" src="js/lib/jquery/jquery.js"></script>
		<script type="text/javascript" src="js/lib/jquery/jquery-pubsub.js"></script>
		<script type="text/javascript" src="js/lib/gibberish/gibberishAES.js"></script>
		<script type="text/javascript" src="js/lib/underscore/underscore.js"></script>
		<script type="text/javascript" src="js/lib/backbone/backbone.js"></script>
		<script type="text/javascript" src="js/lib/handlebars/handlebars.js"></script>
		<script type="text/javascript" src="js/lib/bootstrap/bootstrap.js"></script>
		{{/dev}}
		{{^dev}}
		<script type="text/javascript" src="js/lib/lib.min.js"></script>
		{{/dev}}
	</head>

	<body class="um-dashboard">
		<div id="page"></div>

		<!--JavaScript Template Files-->
		<templates></templates>

		<!--JavaScript Source Files-->
		{{#dev}}
		<!--
		<script type="text/javascript" src="js/src/service/{{tracker}}.js"></script>
		<script type="text/javascript" src="js/src/umobile.js"></script>
		<script type="text/javascript" src="js/src/view/Module.js"></script>
		<script type="text/javascript" src="js/src/view/Credential.js"></script>
		<script type="text/javascript" src="js/src/view/App.js"></script>
		-->
		<script type="text/javascript" src="js/src/config/{{auth}}.js"></script>
		<script type="text/javascript" src="js/src/app.js"></script>
		<script type="text/javascript" src="js/src/service/{{tracker}}.js"></script>
		<script type="text/javascript" src="js/src/service/Authentication.js"></script>
		<script type="text/javascript" src="js/src/service/Storage.js"></script>
		<script type="text/javascript" src="js/src/model/State.js"></script>
		<script type="text/javascript" src="js/src/model/Module.js"></script>
		<script type="text/javascript" src="js/src/model/Credential.js"></script>
		<script type="text/javascript" src="js/src/collection/ModuleCollection.js"></script>
		<script type="text/javascript" src="js/src/view/ViewManager.js"></script>
		<script type="text/javascript" src="js/src/view/BaseView.js"></script>
		<script type="text/javascript" src="js/src/view/Page.js"></script>
		<script type="text/javascript" src="js/src/view/Header.js"></script>
		<script type="text/javascript" src="js/src/view/Footer.js"></script>
		<script type="text/javascript" src="js/src/view/LoadedView.js"></script>
		<script type="text/javascript" src="js/src/view/Dashboard.js"></script>
		<script type="text/javascript" src="js/src/view/Login.js"></script>
		<script type="text/javascript" src="js/src/view/Module.js"></script>
		<script type="text/javascript" src="js/src/view/ModuleDetail.js"></script>
		<script type="text/javascript" src="js/src/router.js"></script>
		{{/dev}}
		{{^dev}}
		<script type="text/javascript" src="js/src/main.min.js"></script>
		{{/dev}}
		<script type="text/javascript">
			$(function () {
				'use strict';
				umobile.initialize();
			});
		</script>
	</body>
</html>