<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{pageTitle}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta charset="utf-8">

		<!--CSS Dependencies-->
		<link type="text/css" rel="stylesheet" href="css/lib/jquerymobile/jqm.theme.css">
		<link type="text/css" rel="stylesheet" href="css/portal.css">

		<!--JavaScript Dependencies-->
		{{#web}}
		<script type="text/javascript" src="js/lib/cordova/cordova-android.js"></script>
		{{/web}}

		{{#android}}
		<script type="text/javascript" src="js/lib/cordova/cordova-android.js"></script>
		{{/android}}

		{{#ios}}
		<script type="text/javascript" src="js/lib/cordova/cordova-ios.js"></script>
		{{/ios}}

		<script type="text/javascript" src="js/lib/jquery/jquery.js"></script>
		<script type="text/javascript" src="js/lib/jquerymobile/jquery-mobile.js"></script>
		<script type="text/javascript" src="js/lib/jquery/jquery-pubsub.js"></script>
		<script type="text/javascript" src="js/lib/gibberish/gibberishAES.js"></script>
		<script type="text/javascript" src="js/lib/underscore/underscore.js"></script>
		<script type="text/javascript" src="js/lib/backbone/backbone.js"></script>
		<script type="text/javascript" src="js/lib/handlebars/handlebars.js"></script>
		<script type="text/javascript">
			$(document).bind("mobileinit", function () {
				$.extend($.mobile , {
					ajaxEnabled: false,
					ajaxFormsEnabled: false
				});
			});
			var localStorage;
		</script>
	</head>

	<body class="up fl-theme-iphone dashboard-grid">
		<div id="appView">
			<!--
			| =====================
			| Home View
			| =====================
			-->
			<div id="home" class="portal dashboard" data-role="page">
				<!--header-->
				<div data-role="header" data-backbtn="false" class="titlebar portlet-wrapper-titlebar">
					<h1 class="title">uMobile</h1>
					<a href="#preference" class="ui-btn-right" data-transition="none" data-icon="gear">
						<span>Prefs</span>
					</a>
				</div>

				<!--links-->
				<div id="portalNav" class="portal-nav"></div>

				<!--reload
				<a href="index.html?module=news">reload</a>
				-->

				<!--footer-->
				<div data-role="footer" class="umobile-auth-invitation">
					<a href="#preference" data-transition="none">
						You are using uMobile as a guest user. Click here to log in!
					</a>
				</div>
			</div>

			<!--
			| =====================
			| Module View
			| =====================
			-->
			<div id="module" class="portal focused" data-role="page">
				<!--titlebar-->
				<div class="titlebar portlet-wrapper-titlebar" data-role="header" data-position="inline">
					<a href="#home" data-icon="home" data-direction="reverse" data-transition="none">Home</a>
					<h1 class="title module-page-title">Portlet</h1>
				</div>

				<!--content-->
				<iframe style="width: 100%; height:500px; border: none; padding: 0; margin: 0"></iframe>
			</div>

			<!--
			| =====================
			| Preferences View
			| =====================
			-->
			<div id="preference" class="portal focused" data-role="page">
				<!--titlebar-->
				<div class="titlebar portlet-wrapper-titlebar" data-role="header" data-position="inline">
					<a href="#home" data-icon="home" data-direction="reverse" data-transition="none">Home</a>
					<h1 class="title module-page-title">Preferences</h1>
				</div>

				<!--content-->
				<div class="portlet">
					<div class="portlet-content" data-role="content"></div>
				</div>
			</div>

			<!--JavaScript Source Files-->
			{{#cas}}
			<script type="text/javascript" src="js/src/config/cas.js"></script>
			{{/cas}}

			{{#local}}
			<script type="text/javascript" src="js/src/config/local.js"></script>
			{{/local}}

			{{#mock}}
			<script type="text/javascript" src="js/src/config/mock.js"></script>
			{{/mock}}

			<script type="text/javascript" src="js/src/app.js"></script>

			{{#web}}
			<script type="text/javascript" src="js/src/service/SessionTrackerMock.js"></script>
			{{/web}}

			{{#android}}
			<script type="text/javascript" src="js/src/service/SessionTracker.js"></script>
			{{/android}}

			{{#ios}}
			<script type="text/javascript" src="js/src/service/SessionTracker.js"></script>
			{{/ios}}

			<script type="text/javascript" src="js/src/service/Authentication.js"></script>
			<script type="text/javascript" src="js/src/service/Storage.js"></script>
			<script type="text/javascript" src="js/src/model/State.js"></script>
			<script type="text/javascript" src="js/src/model/Module.js"></script>
			<script type="text/javascript" src="js/src/model/Credential.js"></script>
			<script type="text/javascript" src="js/src/collection/ModuleCollection.js"></script>
			<script type="text/javascript" src="js/src/view/Module.js"></script>
			<script type="text/javascript" src="js/src/view/Credential.js"></script>
			<script type="text/javascript" src="js/src/view/App.js"></script>
			<script type="text/javascript" src="js/src/bootstrap.js"></script>
		</div>
	</body>
</html>