<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta charset="utf-8">

		<!--CSS Dependencies-->
		<link type="text/css" rel="stylesheet" href="css/umobile.css">

		<!--JavaScript Dependencies-->

		<!--(if target phonegap)><!-->
		<script type="text/javascript" src="cordova.js"></script>
		<script type="text/javascript" src="cordova_plugins.js"></script>
		<script type="text/javascript" src="phonegap.js"></script>
		<!--<!(endif)-->

		<script type="text/javascript" src="js/lib/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="js/lib/jquery/jquery-pubsub.min.js"></script>
		<script type="text/javascript" src="js/lib/gibberish/gibberishAES.min.js"></script>
		<script type="text/javascript" src="js/lib/underscore/underscore.min.js"></script>
		<script type="text/javascript" src="js/lib/backbone/backbone.min.js"></script>
		<script type="text/javascript" src="js/lib/backbone/backbone-super.min.js"></script>
		<script type="text/javascript" src="js/lib/backbone/backbone-validation.min.js"></script>
		<script type="text/javascript" src="js/lib/handlebars/handlebars.min.js"></script>
		<script type="text/javascript" src="js/lib/bootstrap/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/lib/debug/debug.min.js"></script>
	</head>

	<body>
		<div id="page" class="um-page"></div>
		
		<!--JavaScript Template Files-->
		<templates></templates>

		<!--JavaScript Source Files-->
		<script type="text/javascript" src="js/src/main.min.js"></script>
		<script type="text/javascript">
			$(function () {
				'use strict';
				debug.setLevel(0);
			});
		</script>
		
		<script type="text/javascript">
			$(function () {
				'use strict';
				umobile.initialize();
			});
		</script>
	</body>
</html>