//
// Content
// --------------------------------------------------

// Default. All content areas.
.um-content {
	border-bottom: 1px solid @lightGray;

	.um-view {
		padding: 0 0 0 0;
	}
}

// Specific views.
.um-dashboard {
	.um-content {
		border: none;
	}
}