//
// Login
// --------------------------------------------------

.um-form-container {
	padding: 20px 0 30px 0;

	// Form.
	.um-login-form {
		.um-border-radius(6px);
		width: 250px;
		margin: 0 auto;
		background-color: @smoke;
		padding: 8px 15px;
	}

}