//
// Module Detail
// --------------------------------------------------

// Focused module.
.um-module-detail {
	// Breadcrumb.
	.um-breadcrumb {
		.um-list;
		.um-border-radius(0);
		padding: 10px 15px;
		border-bottom: 1px solid @lightGray;
	}

	// Frame.
	.um-module-frame {
		width: 100%;
		height:500px;
		border: none;
		padding: 0;
		margin: 0;
		border-bottom: 1px solid @lightGray;
	}
}