//
// Module List.
// --------------------------------------------------

// List of modules.
.um-modules {
	padding: 20px 0 0 0;
	position: relative;
	text-align: center;

	// List & list item.
	.um-module-list,
	.um-module-item {
		display: block;
		padding: 0;
		margin: 0;
		list-style: none;
	}

	// List.
	.um-module-list {
		width: 265px;
		margin: 0 auto;
	}

	// List item.
	.um-module-item {
		float: left;
	}

	// Link
	.um-module-link {
		display: block;
		position: relative;
		color: @white;
		text-shadow: 1px 1px 3px @black;
		margin: 0 15px 0 15px;

		// New item indicator.
		.um-new {
			position: absolute;
			top: 0; right: -5px;
			padding-left: 6px;
			padding-right: 6px;
			border: 2px solid @white;
			background-color: @red;
			.um-gradient(@red, @darkRed);
			.um-border-radius(500px);
			.um-shadow;
		}

		// Title.
		.um-title {
			padding: 10px 0 0 0;
		}
	}

	// Link hover.
	.um-module-link:hover {
		text-decoration: none;
	};
}