//
// Module List.
// --------------------------------------------------

.um-module-container {
	padding: 0 0 0 0;	
	position: relative;
	text-align: center;
	min-height: 150px;

	// List & list item.
	.um-module-list,
	.um-module-item {
		display: block;
		padding: 0;
		margin: 0;
		list-style: none;
	}

	// List.
	.um-module-list {
		width: 265px;
		margin: 0 auto;
		padding: 20px 0 20px 0;
	}

	// List item.
	.um-module-item {
		float: left;
	}

	// Link
	.um-module-link {
		display: block;
		//width: 85px;
		position: relative;
		color: @white;
		text-shadow: 1px 1px 3px @black;
		margin: 0 15px 20px 15px;

		// New item indicator.
		.um-new {
			position: absolute;
			top: 0; right: -5px;
			padding-left: 6px;
			padding-right: 6px;
			border: 2px solid @white;
			background-color: @red;
			.um-gradient(@red, @darkRed);
			.um-border-radius(500px);
			.um-shadow;
		}

		// Title.
		.um-title {
			width: 55px;
			overflow: hidden;
			padding: 10px 0 0 0;
			font-size: 12px;
		}

		// Icon.
		.um-icon {
			img {
				width: 57px;
				height: 57px;
			}
		}
	}

	// Link hover.
	.um-module-link:hover {
		text-decoration: none;
	};
}