//
// Module View
// --------------------------------------------------

.um-module-view {

	// Frame.
	.um-module-frame {
		width: 100%;
		height:200px;
		border: none;
		padding: 0;
		margin: 0;
	}
}