//
// Page
// --------------------------------------------------

.um-page {

	// Application content.
	.um-main {
		.um-expand;
		position: relative;

		// Application loader.
		.um-loader {
			position: absolute;
			top: 0; left: 0;
			bottom: 0; right: 0;
			background: @smoke url('../images/um_loader.gif') 50% 50% no-repeat;
		}

	}
}